
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about,
  .portfolio,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about {
    background-image: url('/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .portfolio {
    background-image: url('/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  








/* font-family: 'Bilbo Swash Caps', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Dynalight', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-family: 'Lovers Quarrel', cursive;
    font-family: 'Montez', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Stalemate', cursive; */