.header, footer{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    }
    .home-grid, .about-body, .portfolio-body{

        background: #355C7D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .banner{
    
        width: 80%;
        margin: auto;
    } 
    .banner, h1, h2, h3, h5{
        text-align: center;
        color: black;
    }
    Footer {
        text-align: center;
    }
    .about-body{
        margin: auto;
        position: fixed;
        width: 100%;
        height: 80%;
        justify-content: center;
        padding-top: 2em;
    }
    .about-grid{
        text-align: center;
        justify-content: center;
        width: 60%;
        color: black;
        border: black 2px solid;
        margin-top: 20px;
        padding-top: 0px;
    }
    .about-grid p{
        font-size: 20px;
        padding-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        word-spacing: 2px;
        color: black;
    }
    .social-media {
        justify-content: space-between;
        width: 20%;
        display: flex;
        margin: auto;
        padding-top: 10px;
        
    }
    .social-media i {
        color:black;
        font-size: 35px;
    }
    .portfolio-body{
        margin: auto;
        position: fixed;
        width: 100%;
        height: auto;
     
    
    }